/*
	NAV STYLING
*/
body{
	font-size: 16px;
	background: #eee;
	box-sizing: border-box;
}

nav {
	background: #32353f;
	border-bottom: 2px solid #444;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8rem;
	z-index: 99;
}
nav .container{
	display:block;
	width: 70%;
	margin: 0 auto;
	max-height: 100%;
}
nav #logo{
	padding: 1rem 1rem 1rem 2rem;

	height: 6rem;
	display: inline-block;

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
nav h1{
	float: left;
	padding: 1rem 0rem;
	display: inline-block;
	line-height: 6rem;
	font-size: 2rem;
	font-family: sans-serif;
	color: #ddd;
}
nav #github{
	float: right;
	color: #ddd;
	line-height: 6rem;
	padding: 1rem 0rem;
	font-size: 2rem;
}
nav #docs{
	float: right;
	color: #ddd;
	line-height: 6rem;
	padding: 1rem 2rem;
	font-size: 2rem;
	font-family: sans-serif;
}
nav, nav *{
	font-family: 'Open Sans';
	transition: all 0.25s ease-in;
}
.nav--shrink{
	height: 5rem;
}
.nav--shrink #logo{
	height: 3rem;
}
.nav--shrink h1{
	line-height: 3rem;
}
.nav--shrink #github{
	line-height: 3rem;
}
.nav--shrink #docs{
	line-height: 3rem;
}

nav a{
	text-decoration: none;
}
nav a:hover{
	color: #fff!important;
	cursor: pointer;
}
nav h1:hover{
	color: #fff;
	cursor: pointer;
}

/* Content */
#content{
	margin-top: 8rem;
	padding-top: 2rem;
	min-height: 100vh;
}

/*
	CODE SNIPPETS
*/
.code-snippet{
	margin: 2rem 0;
}
.code-toggle{
	display: block;
	background: #32353f;
	color: #fff;
	height: 4rem;
	border-top: 0.25rem solid #967BBA;
}
.code-toggle:hover{
	cursor: pointer;
}
.code-toggle p{
	font-size: 2rem;
	line-height: 4rem;
	padding-left: 2rem;
	display: inline-block;
	font-family: sans-serif;
}
.code-toggle i{
	float: right;
	font-size: 2rem;
	line-height: 4rem;
	padding-right: 2rem;
}
.code-snippet pre{
	max-height: 30rem;
	overflow: scroll;
}
.code-snippet pre.hidden{
	display: none;
}


/* Reference */

#reference-nav{
	position: fixed;
}
#reference-nav .col-3{
	border-left: 2px solid #967BBA;
	padding-left: .5rem;
}
#reference-nav h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	color: #333;
}
#reference-nav ul li{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: .5rem;
}
#reference-nav ul li a{
	color: #444;
	text-decoration: none;
	transition: all 0.1s ease-out;
}
#reference-nav ul li a:hover{
	color: #967BBA;
}
#docs{
	margin-bottom: 8rem;
}
#docs h2{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	border-bottom: 2px solid #5CA3BF;
    margin-bottom: 1rem;
}
#docs > .row > p{
    font-family: 'Source Sans Pro';
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 0.5rem;
}

/* For Anchor Links */
:target:before {
	content:"";
	display:block;
	height: 6rem; /* fixed header height*/
	margin: -6rem 0 0 0; /* negative fixed header height */
}



/* Select and Examples */
.selectric-wrapper{
	width: 20%;
	margin: 0 auto;
}
#examples-label{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 1rem 0;
}
#g-container{
	margin: 1rem 0;
}

/* Phone Your Rep */
#tip{
	width: 60%;
    margin: 2rem auto;
}
#tip h1{
	text-align: center;
	font-family: "Open Sans" sans-serif;
}
#phone-intro{
	text-align: center;
	font-family: "Open Sans" sans-serif;
	font-size: 2rem;
	line-height: 3rem;
}
.tooltip-header {
	display: block;
	background: #32353f;
	color: #fff;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	font-family: "Open Sans";
	border-top: 0.25rem solid #967BBA;
}
.tooltip-list {
	border: 2px solid #32353f;
	padding: 0.5rem 0;
}
.tooltip-list li{
	text-align: center;
    width: 50%;
    float: left;
	font-size: 1.5rem;
	line-height: 2.5rem;
}
.tooltip-list a{
	color: #333;
}




/* Responsive */
@media only screen and (max-width: 719px) {

	/* Nav */
	nav {
		height: 6rem;
	}
	nav #logo{
		padding: 1rem 1rem 1rem 1rem;
		height: 4rem;
		float: left;
		position: static;
	}
	nav h1{
		display: none;
	}
	nav #github{
		float: right;
		line-height: 4rem;
		font-size: 2rem;
	}
	nav #docs{
		float: right;
		line-height: 4rem;
		padding-right: 1rem;
		font-size: 2rem;
	}
	.nav--shrink{
		height: 6rem;
	}
	.nav--shrink #logo{
		height: 4rem;
	}
	.nav--shrink h1{
		line-height: 4rem;
	}
	.nav--shrink #github{
		line-height: 4rem;
	}
	.nav--shrink #docs{
		line-height: 4rem;
	}

	/* Content */
	#content{
		margin-top: 6rem;
		padding-top: 2rem;
		min-height: 100vh;
	}

	/* Docs */
	#reference-nav{
		display: none;
	}
}

@media only screen and (max-width: 420px){
	nav #logo{
		padding: 1.5rem 1rem 1.5rem 1rem;
		height: 3rem;
	}
	nav #github{
		font-size: 1.5rem;
	}
	nav #docs{
		font-size: 1.5rem;
	}
}
